.calc.title {
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-weight: 500;
    border-radius: 45px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

.back-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000; /* ensure the button is above other elements */
    border: none;
    padding: 12px 18px;
    letter-spacing: 1px;
    border-radius: 10px; 
    background-color: lightcoral; 
    color: white; 
    text-align: center; 
    text-decoration: none; 
    font-size: 18px; 
    cursor: pointer; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    transition: 0.5s; 
}
    
.round-button:hover {
    background-color: rgb(241, 87, 87); /* Darker green background color on hover */
}
      
  
::ng-deep .calculate-content-wrapper  {
    .container {
        padding: 0 15px 50px;
        height: calc(100vh - 70px);
        overflow: auto;
    }
}