form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;

     .p-button {
        padding: 8px 12px;
        font-size: 18px;
        .p-button-label {
            font-weight: 500 !important;
        }
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    position: relative;

    label {
        font-weight: bold;
    }
    
    .custom-suffix {
        position: absolute;
        right: 0;
        padding: 8px 12px;
        bottom: 0;
    }

    p-calendar .p-calendar,
    .p-inputnumber,
    .p-inputwrapper
    {
        width: 100%;
    }
    .p-dropdown {
        padding: 8px;

        .p-dropdown-panel {

            border: 1px solid darkgray;
            p-dropdownitem li{
                padding: 8px;
            }
        }
    }
    .p-inputnumber {
        input {
            padding: 8px;
        }
    }
}