.list-container {
    padding: 20px 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto; /* Columns adjust based on content */
    
    @media screen and (width < 300px) {
        grid-template-columns: auto; /* Columns adjust based on content */
    }
    
    ::ng-deep p-card {
        .p-card {
            min-width: 150px;
            border: 1px solid darkgray;
            // max-width: 300px;
            
            .p-card-header  {
                text-align: center;
                img {
                    width: 100px;
                    height: 100px;
                }
            }
            .p-card-body {
                padding: 10px ;
                .p-card-title {
                    color: black;
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }
    }
}